<table>
  <tr><td><%= @last_url.original %></td></tr>
  <tr><td><a href="<%= @last_url.original %>">localhost:9393/<%= @last_url.shortened %></a></td></tr>
  <tr><td><button name="delete" value="delete">Delete</button></td></tr>
</table>
