<div class="container">
  <h2>Create Your Own Shortened Link</h2>
  <form action="/urls" method="post">
    <input type="text" name="original_url" placeholder="e.g. http://www.google.com">
    <input type="submit" value="Create Link">
  </form>
  <div id="links"></div>
</div>
